$itemsCount: 52 * 7;
.shoe-container {
  position: relative;
  width: 250px;
  height: 300px;
  margin: auto;
}

.shoe-container > card-t {
  position: absolute;
  width: 250px;
  height: 300px;
  box-sizing: border-box;
  padding: 40px;
  @for $i from 1 through $itemsCount {
    $xValue: ($i - 1) * -0.4px; // we want to start translating from 0
    $yValue: ($i - 1) * -0.4px; // we want to start translating from 0
    $zIndexValue: $i;
    &:nth-of-type(#{$i}) {
      z-index: $zIndexValue;
      transform: translateX(#{$xValue}) translateY(#{$yValue});
    }
  }
}

.player-container {
  width: 600px;
  height: 400px;
  margin: auto;
  position: relative;
  text-align: center;
}

.hand-container {
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10px, max-content));
}

.hand-container > card-t {
  width: 170px;
  margin: 0 10px;
  //   margin-left: 0px;
  // @for $i from 2 through 21 {
  //   $zIndexValue: $i;
  //   $yValue: ($i - 1) * 0.4px;
  //   &:nth-of-type(#{$i}) {
  //     z-index: $zIndexValue;
  //     transform: translateY(#{$yValue});
  //   }
  // }
}

.player-actions {
  margin: 20px;
}
