.shoe-container {
  position: relative;
  width: 250px;
  height: 300px;
  margin: auto;
}

.shoe-container > card-t {
  position: absolute;
  width: 250px;
  height: 300px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 40px;
}

.shoe-container > card-t:nth-of-type(1) {
  z-index: 51;
  -webkit-transform: translateX(0px) translateY(0px);
          transform: translateX(0px) translateY(0px);
}

.shoe-container > card-t:nth-of-type(2) {
  z-index: 50;
  -webkit-transform: translateX(0.5px) translateY(0.5px);
          transform: translateX(0.5px) translateY(0.5px);
}

.shoe-container > card-t:nth-of-type(3) {
  z-index: 49;
  -webkit-transform: translateX(1px) translateY(1px);
          transform: translateX(1px) translateY(1px);
}

.shoe-container > card-t:nth-of-type(4) {
  z-index: 48;
  -webkit-transform: translateX(1.5px) translateY(1.5px);
          transform: translateX(1.5px) translateY(1.5px);
}

.shoe-container > card-t:nth-of-type(5) {
  z-index: 47;
  -webkit-transform: translateX(2px) translateY(2px);
          transform: translateX(2px) translateY(2px);
}

.shoe-container > card-t:nth-of-type(6) {
  z-index: 46;
  -webkit-transform: translateX(2.5px) translateY(2.5px);
          transform: translateX(2.5px) translateY(2.5px);
}

.shoe-container > card-t:nth-of-type(7) {
  z-index: 45;
  -webkit-transform: translateX(3px) translateY(3px);
          transform: translateX(3px) translateY(3px);
}

.shoe-container > card-t:nth-of-type(8) {
  z-index: 44;
  -webkit-transform: translateX(3.5px) translateY(3.5px);
          transform: translateX(3.5px) translateY(3.5px);
}

.shoe-container > card-t:nth-of-type(9) {
  z-index: 43;
  -webkit-transform: translateX(4px) translateY(4px);
          transform: translateX(4px) translateY(4px);
}

.shoe-container > card-t:nth-of-type(10) {
  z-index: 42;
  -webkit-transform: translateX(4.5px) translateY(4.5px);
          transform: translateX(4.5px) translateY(4.5px);
}

.shoe-container > card-t:nth-of-type(11) {
  z-index: 41;
  -webkit-transform: translateX(5px) translateY(5px);
          transform: translateX(5px) translateY(5px);
}

.shoe-container > card-t:nth-of-type(12) {
  z-index: 40;
  -webkit-transform: translateX(5.5px) translateY(5.5px);
          transform: translateX(5.5px) translateY(5.5px);
}

.shoe-container > card-t:nth-of-type(13) {
  z-index: 39;
  -webkit-transform: translateX(6px) translateY(6px);
          transform: translateX(6px) translateY(6px);
}

.shoe-container > card-t:nth-of-type(14) {
  z-index: 38;
  -webkit-transform: translateX(6.5px) translateY(6.5px);
          transform: translateX(6.5px) translateY(6.5px);
}

.shoe-container > card-t:nth-of-type(15) {
  z-index: 37;
  -webkit-transform: translateX(7px) translateY(7px);
          transform: translateX(7px) translateY(7px);
}

.shoe-container > card-t:nth-of-type(16) {
  z-index: 36;
  -webkit-transform: translateX(7.5px) translateY(7.5px);
          transform: translateX(7.5px) translateY(7.5px);
}

.shoe-container > card-t:nth-of-type(17) {
  z-index: 35;
  -webkit-transform: translateX(8px) translateY(8px);
          transform: translateX(8px) translateY(8px);
}

.shoe-container > card-t:nth-of-type(18) {
  z-index: 34;
  -webkit-transform: translateX(8.5px) translateY(8.5px);
          transform: translateX(8.5px) translateY(8.5px);
}

.shoe-container > card-t:nth-of-type(19) {
  z-index: 33;
  -webkit-transform: translateX(9px) translateY(9px);
          transform: translateX(9px) translateY(9px);
}

.shoe-container > card-t:nth-of-type(20) {
  z-index: 32;
  -webkit-transform: translateX(9.5px) translateY(9.5px);
          transform: translateX(9.5px) translateY(9.5px);
}

.shoe-container > card-t:nth-of-type(21) {
  z-index: 31;
  -webkit-transform: translateX(10px) translateY(10px);
          transform: translateX(10px) translateY(10px);
}

.shoe-container > card-t:nth-of-type(22) {
  z-index: 30;
  -webkit-transform: translateX(10.5px) translateY(10.5px);
          transform: translateX(10.5px) translateY(10.5px);
}

.shoe-container > card-t:nth-of-type(23) {
  z-index: 29;
  -webkit-transform: translateX(11px) translateY(11px);
          transform: translateX(11px) translateY(11px);
}

.shoe-container > card-t:nth-of-type(24) {
  z-index: 28;
  -webkit-transform: translateX(11.5px) translateY(11.5px);
          transform: translateX(11.5px) translateY(11.5px);
}

.shoe-container > card-t:nth-of-type(25) {
  z-index: 27;
  -webkit-transform: translateX(12px) translateY(12px);
          transform: translateX(12px) translateY(12px);
}

.shoe-container > card-t:nth-of-type(26) {
  z-index: 26;
  -webkit-transform: translateX(12.5px) translateY(12.5px);
          transform: translateX(12.5px) translateY(12.5px);
}

.shoe-container > card-t:nth-of-type(27) {
  z-index: 25;
  -webkit-transform: translateX(13px) translateY(13px);
          transform: translateX(13px) translateY(13px);
}

.shoe-container > card-t:nth-of-type(28) {
  z-index: 24;
  -webkit-transform: translateX(13.5px) translateY(13.5px);
          transform: translateX(13.5px) translateY(13.5px);
}

.shoe-container > card-t:nth-of-type(29) {
  z-index: 23;
  -webkit-transform: translateX(14px) translateY(14px);
          transform: translateX(14px) translateY(14px);
}

.shoe-container > card-t:nth-of-type(30) {
  z-index: 22;
  -webkit-transform: translateX(14.5px) translateY(14.5px);
          transform: translateX(14.5px) translateY(14.5px);
}

.shoe-container > card-t:nth-of-type(31) {
  z-index: 21;
  -webkit-transform: translateX(15px) translateY(15px);
          transform: translateX(15px) translateY(15px);
}

.shoe-container > card-t:nth-of-type(32) {
  z-index: 20;
  -webkit-transform: translateX(15.5px) translateY(15.5px);
          transform: translateX(15.5px) translateY(15.5px);
}

.shoe-container > card-t:nth-of-type(33) {
  z-index: 19;
  -webkit-transform: translateX(16px) translateY(16px);
          transform: translateX(16px) translateY(16px);
}

.shoe-container > card-t:nth-of-type(34) {
  z-index: 18;
  -webkit-transform: translateX(16.5px) translateY(16.5px);
          transform: translateX(16.5px) translateY(16.5px);
}

.shoe-container > card-t:nth-of-type(35) {
  z-index: 17;
  -webkit-transform: translateX(17px) translateY(17px);
          transform: translateX(17px) translateY(17px);
}

.shoe-container > card-t:nth-of-type(36) {
  z-index: 16;
  -webkit-transform: translateX(17.5px) translateY(17.5px);
          transform: translateX(17.5px) translateY(17.5px);
}

.shoe-container > card-t:nth-of-type(37) {
  z-index: 15;
  -webkit-transform: translateX(18px) translateY(18px);
          transform: translateX(18px) translateY(18px);
}

.shoe-container > card-t:nth-of-type(38) {
  z-index: 14;
  -webkit-transform: translateX(18.5px) translateY(18.5px);
          transform: translateX(18.5px) translateY(18.5px);
}

.shoe-container > card-t:nth-of-type(39) {
  z-index: 13;
  -webkit-transform: translateX(19px) translateY(19px);
          transform: translateX(19px) translateY(19px);
}

.shoe-container > card-t:nth-of-type(40) {
  z-index: 12;
  -webkit-transform: translateX(19.5px) translateY(19.5px);
          transform: translateX(19.5px) translateY(19.5px);
}

.shoe-container > card-t:nth-of-type(41) {
  z-index: 11;
  -webkit-transform: translateX(20px) translateY(20px);
          transform: translateX(20px) translateY(20px);
}

.shoe-container > card-t:nth-of-type(42) {
  z-index: 10;
  -webkit-transform: translateX(20.5px) translateY(20.5px);
          transform: translateX(20.5px) translateY(20.5px);
}

.shoe-container > card-t:nth-of-type(43) {
  z-index: 9;
  -webkit-transform: translateX(21px) translateY(21px);
          transform: translateX(21px) translateY(21px);
}

.shoe-container > card-t:nth-of-type(44) {
  z-index: 8;
  -webkit-transform: translateX(21.5px) translateY(21.5px);
          transform: translateX(21.5px) translateY(21.5px);
}

.shoe-container > card-t:nth-of-type(45) {
  z-index: 7;
  -webkit-transform: translateX(22px) translateY(22px);
          transform: translateX(22px) translateY(22px);
}

.shoe-container > card-t:nth-of-type(46) {
  z-index: 6;
  -webkit-transform: translateX(22.5px) translateY(22.5px);
          transform: translateX(22.5px) translateY(22.5px);
}

.shoe-container > card-t:nth-of-type(47) {
  z-index: 5;
  -webkit-transform: translateX(23px) translateY(23px);
          transform: translateX(23px) translateY(23px);
}

.shoe-container > card-t:nth-of-type(48) {
  z-index: 4;
  -webkit-transform: translateX(23.5px) translateY(23.5px);
          transform: translateX(23.5px) translateY(23.5px);
}

.shoe-container > card-t:nth-of-type(49) {
  z-index: 3;
  -webkit-transform: translateX(24px) translateY(24px);
          transform: translateX(24px) translateY(24px);
}

.shoe-container > card-t:nth-of-type(50) {
  z-index: 2;
  -webkit-transform: translateX(24.5px) translateY(24.5px);
          transform: translateX(24.5px) translateY(24.5px);
}

.shoe-container > card-t:nth-of-type(51) {
  z-index: 1;
  -webkit-transform: translateX(25px) translateY(25px);
          transform: translateX(25px) translateY(25px);
}

.shoe-container > card-t:nth-of-type(52) {
  z-index: 0;
  -webkit-transform: translateX(25.5px) translateY(25.5px);
          transform: translateX(25.5px) translateY(25.5px);
}

.player-container {
  width: 600px;
  height: 400px;
  margin: auto;
  position: relative;
}
/*# sourceMappingURL=shoe.css.map */